*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 p{
   color: #1D5484;
   font-style: normal;
   font-weight: 60%;
   font-size: 40px;
   line-height: 100%;
}

header{
   position: relative;
   font-family:'open sans';
   max-width: 100%;
}

 /*---Barra inicio Azul ---------------*/

.barra-inicio{
   background: #1D5484;  
   position: absolute;
   width: 100%;
   height: 56px;
   left: 0px;
   top: 0px;

}

.barra-inicio a{
   display: flex;
   color: #ffffff;
   text-decoration: none;  /*---retiro el subrayado */
   padding: 5.5% 8%;
   gap: 2px;
}
 
.barra-inicio a:hover {     
   text-decoration: underline;
}

.fono-mail{ 
   width: 300px;
   display: flex;
   justify-content: space-between;
   left: 2%;
}

.redes-soc{ 
   display: flex;
   justify-content: space-between;
   padding-left: 142%;

   gap: 30px;
}


  /*---Barra secundaria Blanca -----------*/

.barra-menu{  
   display: flex;
   background-color: #ffffff;
   position: absolute;
   width: 100%;
   height: 66px;
   left: 0px;
   top: 56px;
}

.barra-menu .logo{
   display: flex;
   box-sizing: border-box;
   position: absolute;
   left: 2%;
   right: 90.9%;
   top: 19.05%;
   bottom: 20.24%;
}

.barra-menu .text-logo h5{
   font-style: normal;
   font-size: 18px;

   /* identical to
    box height, or 133% */
   
   letter-spacing: 0,01em;
   text-transform: capitalize;
   
   color: #1D5484;
   text-align: left;
   padding-left: 168%;
   padding-top: 45%;
}   

.menu{
   display: flex;
   color: #1D5484;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   gap: 40px;

   position: absolute;
   width: 100%;
   height: 48px;
   left: 56%;
   top: 10px;
}

nav .menu a{
   color:  #1D5484;
   font-weight: 300;
   text-decoration: none;
}

nav .menu a:hover {     
   text-decoration: underline;
}

button{
   font-style: 1.25cm;
   font-weight: bols;
   padding: 10px 30px;
   border-radius: 10px;
   border: 1px solid rgba(0,0,0,0.5);
   box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
   color: white;
   background-color: #1D5484;
   margin:center;
}

button:hover{
   background-color: rgba(31, 86, 135, 0.807);
}

 /* ---Main -- Aviso publicitario ----------- */

.imagenn-aviso{
   background: #c58a90;
   width: 100%;
   top: 60% ;
}

#img-travel{ 
   height: 170vh;
   background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.011),
    rgba(0, 0, 0, 0)
  )  
   ,url("https://media.istockphoto.com/id/870136986/es/foto/hombre-joven-remando-la-canoa-roja-en-lago-de-braies-italia.jpg?s=612x612&w=0&k=20&c=1-FZh8g7jcYh8-xDL2Q2a49VXdowG7Y4Hwux8G5-ug0=");
       background-repeat: no-repeat;
      background-size:100%;

       overflow:hidden;  /* esconde lo q esta fuera del contenedor */
}

.texto{
   color: white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 2.5rem;
   font-weight: bold;
   align-items: left;
   justify-content:space-between;
   text-align: left;
   margin-top: 60%;
}

.texto h1{
   width: 50%;
   position: absolute;
   left: 2%;
   top: 30%;
 }

.vector{

   position: absolute;
   width: 300px;
   height: 300px;
   left: 60%;
   top: 30%;
 }

.vector-travel{
   position: absolute;
   left: 1.5%;
   top: 3%;
}


 /* ---Noticias Internacionales ---------- */

.internacional{
   background-color: white;
   position: absolute;
   width: 100%;
   height: 500px;
   left: 0px;
   top: 115%;
}

.titulo p{
   position: absolute;
   justify-content:space-between;
   text-align: left;
   width: 30%;
   left: 2%;
   top: 30px;
}

#linea-div1{
   position: absolute;
   width: 95%;
   height: 11px;
   background: #1D5484;
   left: 2%;
   top: 70px;
}

.subtitulo p{
   position: absolute;
   justify-content:space-between;
   text-align: left;
   width: 30%;

   left: 0px;
   top: 30px;
}

.imagen-int{
   display: flex;
   position: absolute;
   width: 60%;
   height: 58%;
   left: 2%;
   top: 40%;
}

.texto-int{
   position: absolute;
   width: 47%;
   height: 45%;
   left: 50%;
   top: 40%;

   color: #1D5484;
   font-style: normal;
   font-weight: 100%;
   font-size: 18px;
   line-height: 150%;

}

h3{
   left: 0;
   top: 0;
}

h4{
   left: 0;
   top: 15%;
}

 /* ---Noticias de Ecologia ---------- */

.ecologia{
   background-color: white;
   position: absolute;
   width: 100%;
   height: 500px;
   left: 0px;
   top: 212%;


}

.titulo2 p{
   position: absolute;
   justify-content:space-between;
   text-align: left;
   width: 250px;
   height: 100px;
   left: 2%;
   top: 30px;
}

#linea-div2{
   position: absolute;
   width: 95%;
   height: 11px;
   background: #1D5484;
   left: 2%;
   top: 70px;
}

.subtitulo2 p{
   position: absolute;
   justify-content:space-between;
   text-align: left;

   width: 250px;
   height: 100px;
   left: 0px;
   top: 30px;
}


.linea-div2{
   left: 80px;
   top: 70px;
}
.imagen-eco{
   display: flex;
   position: absolute;
   width: 42%;
   height: 42%;
   left: 2%;
   top: 40%;
   overflow: hidden;  /* esconde lo q esta fuera del contenedor */
}

.texto-eco{
   position: absolute;
   width: 47%;
   height: 45%;
   left: 50%;
   top: 40%;

   color: #1D5484;
   font-style: normal;
   font-weight: 100%;
   font-size: 18px;
   line-height: 150%;

}


 /* --- Barra azul final--------------------- */
a{
   color: #FFFFFF; 
}

h5 {
   color: #FFFFFF;
   width: 38px;
   height: 32px;

   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 32px;
   /* identical to box height, or 133% */
   letter-spacing: 0.01em;
   text-transform: capitalize;
/* Inside auto layout */
   flex: none;
   order: 0;
   flex-grow: 0;   
}

.contenedor-logo-contactos{  /* --- Barra azul final---------*/
 
  background: #1D5484; 
  position: absolute;
  width: 100%;
  height: 350px;
  left: 0px;
  top: 310%;
 }

 .logotipo{  

   position: absolute;
   width: 50%;
   height: 350px;
   left: 0px;
   top: 0px;
  }
/* ----logo----------------*/

.logo2{
   display: flex;
   box-sizing: border-box;
   position: absolute;
   left: 3%;
   right: 90.97%;
   top: 30.34%;
   bottom: 55.34%;

}

.texto-logo h5 {
   padding-left: 15%;
   padding-top: 21.5%;
}

.texto-logo h6 {  /* noticiero Online */
   color: #FFFFFF;
   position: absolute;
   width: 109px;
   height: 32px;
   left: 24%;
   top: 33.6%;
   
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 32px;

   letter-spacing: 0.01em;
   text-transform: capitalize;
}


/* ----Contenedor de contactos footer------------ */

.contactos{

   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   gap: 64px;
   
   position: absolute;
   width: 70%;
   height: 152px;
   left: 59%;
   top: 30.34%;
}

.contenedor1{

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 24px;
   
   width: 105px;
   height: 152px;
   /* Inside auto layout */
   
   flex: none;
   order: 0;
   flex-grow: 0;
}

.contenedor1 .texto-logo h5 {
   padding-left: 0px;
   padding-top: 0px;
}


.menu-Nol{

   width: 105px;
   height: 24px;
   
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   /* identical to box height, or 133% */
   letter-spacing: 0.01em;
   color: #FFFFFF;
   /* Inside auto layout */
   flex: none;
   order: 1;
   flex-grow: 0;

}

nav .menu-Nol a{

   color: #FFFFFF;
   width: 105px;
   height: 24px;
   
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   /* identical to box height, or 133% */
   letter-spacing: 0.01em;
   text-decoration: none;
   /* Inside auto layout */
   
   flex: none;
   order: 1;
   flex-grow: 0;

}

nav .menu-Nol a:hover { 

   text-decoration: underline;
}


.contenedor2{

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 12px;
   
   width: 209px;
   height: 152px;
   
   /* Inside auto layout */
   flex: none;
   order: 1;
   flex-grow: 0;
 }

.contenedor2 .texto-logo h5{
   padding-left: 0px;
   padding-top: 0px;
}

#fono-m{
   gap: 2px;
}

.menu-contatos{
 
   color: #FFFFFF; 
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 20px;
   gap: 12px;
 
   width: 209px;
   height: 52px;

   flex: none;
   order: 1;
   flex-grow: 0;
}

.menu-contatos a{
   color: #FFFFFF; 
   text-decoration: none;
}

.menu-contatos a:hover { 
   color: #FFFFFF; 
   text-decoration: underline;
}


 /* --- Footer--------------------- */


.contenedor-footer{
   border-top: 2px solid #bfc2f5; 
   position: absolute;
   display: flex;
   width: 100%;
   height: 49px;
   left: 0px;
   top: 370%;
}

.texto-footer p{
   display: flex;
   width: 400px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   margin-left: 5%;
   margin-top: 15px;
   color:  white;
}

.redes-sociales{ 
   width: 300px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   position: absolute;
   justify-content:space-between;
   gap: 48px;

   height: 24px;

   /* Inside auto layout */
   flex: none;
   order: 1;
   flex-grow: 0;
   margin-left: 66%;
   top: 15px;
}

/*   Boton de retorno------------------*/

.boton{
   font-style: 1.25cm;
   font-weight:bolder;

   border-radius: 8px;
   border: 1px solid #93a3ad;
 
   color: white;
 /* background-color: rgba(214, 182, 244, 0.946);*/
   background-color:  hsl(203, 40%, 78%);
   float: right;
}
 
.boton:hover{
   background-color:  #8aafc5;
   box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
 
}



/*   Display para Movil  --------------------------*/

@media screen and (max-width:900px){
 
}
