*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 p{
   color: #1D5484;
   font-style: normal;
   font-size: 28px;
   font-weight: 60%;
   font-size: 40px;
   line-height: 100%;
}

body{
   font-family:'open sans'; 
}

 /*---Barra inicio Azul ---------------*/


header{
   background: #1D5484;  
}

.barra-inicio{

   display: grid;
   grid-template-columns: 1.3fr 1.3fr 4.2fr;
   justify-content: space-between;
   align-items: center;

   margin-left: 2%;
   margin-right: 2%;
   color: #ffffff;
   height: 33px;
}

#logo-movil img{     /* ...Imagen logo movil...*/
   position: absolute;
   display: flex;
   box-sizing: border-box;
   left: 2%;
   width: 0.1%;
   top: 1%;
}

.barra-inicio .fono { 
 
   display: flex;
   gap: 2px;
}

.barra-inicio .mail { 

   display: flex;
   gap: 2px;
}

.barra-inicio .redes-soc{ 
 
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 70.5%;
   gap: 20px;
}

.barra-inicio a{

   display: flex;
   text-decoration: none;  /*---retiro el subrayado */
   gap: 2px;
}
 
.barra-inicio a:hover {    

   text-decoration: underline;
}
  /*-
#logo-movil{

   display: none;
}
*/

  /*---Barra secundaria Blanca -----------*/

  .barra-menu{ 

   display: flex;
   background-color: #ffffff;
   position: absolute;
   width: 100%;
   height: 66px;
   left: 0px;
   top: 33px;
}

.barra-menu .logo{

   display: flex;
   box-sizing: border-box;
   position: absolute;
   left: 2%;
   right: 90.9%;
   top: 19.05%;
   bottom: 20.24%;
}

.barra-menu .text-logo h5{

   font-style: normal;
   font-size: 18px;

   /* identical to
    box height, or 133% */
   
   letter-spacing: 0,01em;
   text-transform: capitalize;
   
   color: #1D5484;
   text-align: left;
   padding-left: 168%;
   padding-top: 45%;
}   

.menu{

   display: flex;
   color: #1D5484;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   gap: 40px;

   position: absolute;
   width: 100%;
   height: 48px;
   left: 57%;
   top: 10px;
}

nav .menu a{

   color:  #1D5484;
   font-weight: 300;
   text-decoration: none;
}

nav .menu a:hover {     

   text-decoration: underline;
}

button{

   font-style: 1.25cm;
   font-weight: bols;
   padding: 10px 30px;
   border-radius: 10px;
   border: 1px solid rgba(0,0,0,0.5);
   box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
   color: white;
   background-color: #1D5484;
   margin:center;
}

button:hover{

   background-color: rgba(31, 86, 135, 0.807);
}


 /* ---Main -- Aviso publicitario ----------- */

.imagen-aviso{

   width: 100%;
   height: 300px;
   top: 60% ;
}


.imagen-aviso #img-travel img{ 

   width: 211vh;
   height: 83vh;
}

.imagen-aviso .texto{

   color: white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 2.5rem;
   font-weight: bold;
   align-items: left;
   justify-content:space-between;
   text-align: left;
}

.imagen-aviso .texto h1{

   width: 50%;
   position: absolute;
   left: 2%;
   top: 30%;
 }

 .imagen-aviso  #img-travel .img-vector img{

   position: absolute;
   width: 34%;
   height: 50%;
   left: 60%;
   top: 45%;
 }

 .imagen-aviso  #img-travel .img-vector .vector-travel  img{
 
   position: absolute;
   width: 36%;
   height: 50%;
   left: 59%;
   top: 45%;
}


 /* ---Noticias Internacionales ---------- */

.internacional{

   position: absolute;
   width: 100%;
   height: 440px;
   left: 0px;
   top: 102%;
}

.titulo p{
   position: absolute;
   justify-content:space-between;
   text-align: left;
   font-size: 28px;
   width: 30%;
   left: 2%;
   top: 30px;
}

#linea-div{
   position: absolute;
   width: 95%;
   height: 8px;
   background: #1D5484;
   left: 2%;
   gap: 2;
}

.linea1{
   top: 70px;
}

.subtitulo p{
   position: absolute;
   justify-content:space-between;
   text-align: left;
   width: 30%;
   left: 0px;
   top: 28px;
}

.imagen-int img{
   display: flex;
   position: absolute;
   width: 40%;
   height: 48%;
   left: 2%;
   top: 42%;
}

.texto-int{
   position: absolute;
   width: 47%;
   height: 45%;
   left: 50%;
   top: 40%;

   color: #1D5484;
   font-style: normal;
   font-size: 16px;
   line-height: 5vh;
}

h3{
   left: 0;
   top: 0;
}

h4{
   left: 0;
   top: 15%;
}

 /* ---Noticias de Ecologia ---------- */

.ecologia{

   position: absolute;
   width: 100%;
   height: 440px;
   left: 0px;
   top: 184%;
}

.titulo2 p{
   position: absolute;
   justify-content:space-between;
   text-align: left;
   font-size: 28px;
   width: 250px;
   height: 100px;
   left: 2%;
   top: 30px;
}


.subtitulo2 p{
   position: absolute;
   justify-content:space-between;
   text-align: left;
   width: 250px;
   height: 100px;
   left: 0px;
   top: 30px;
}


.linea2{
   left: 80px;
   top: 70px;
}

.imagen-eco img{
   display: flex;
   position: absolute;
   width: 40%;
   height: 48%;
   left: 2%;
   top: 42%;
   /*overflow: hidden;   esconde lo q esta fuera del contenedor */
}

.texto-eco{
   position: absolute;
   width: 47%;
   height: 45%;
   left: 50%;
   top: 40%;

   color: #1D5484;
   font-style: normal;
   font-size: 14px;
}

 /* --- Barra azul final--------------------- */
a{
   color: #FFFFFF; 
   text-decoration: none;
}

h5 {
   color: #FFFFFF;
   width: 38px;
   height: 32px;

   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 32px;

   letter-spacing: 0.01em;
   text-transform: capitalize;
/* Inside auto layout */
   flex: none;
   order: 0;
   flex-grow: 0;   
}

.contenedor-logo-contactos{  /* --- Barra azul final---------*/
 
  background: #1D5484; 
  position: absolute;
  width: 100%;
  height: 320px;
  left: 0px;
  top: 280%;
 }

 .logotipo{  

   position: absolute;
   width: 50%;
   height: 270px;
   left: 0px;
   top: 0%;
}

.logo2{
   display: flex;
   box-sizing: border-box;
   position: absolute;
   left: 3%;
   right: 90.97%;
   top: 30.34%;
   bottom: 55.34%;
}

.texto-logotipo{  

   position: absolute;
   width: 50%;
   height: 60px;
   top: 20%;
   left: 12%;
   color: white;
}

.texto-logo h5 {
   padding-left: 0px;
   padding-top: 13%;
}

.texto-logo h6 {  /* noticiero Online */ 
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 32px;

   letter-spacing: 0.01em;
   text-transform: capitalize;

   padding-left: 18%;
   padding-top: 1%;

}


/* ----Contenedor de contactos footer------------ */


.contactos{
   position: absolute;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;

   width: 70%;
   height: 152px;
   left: 63%;
   top: 20%;
   gap: 60px;
}

.contenedor1{

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 24px;
   
   width: 105px;
   height: 152px;
   /* Inside auto layout */
   
   flex: none;
   order: 0;
   flex-grow: 0;
}

.contenedor1 .texto-logo h5 {
   padding-left: 0px;
   padding-top: 0px;
}


.menu-Nol{

   width: 105px;
   height: 24px;
   
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   /* identical to box height, or 133% */
   letter-spacing: 0.01em;
   color: #FFFFFF;
   /* Inside auto layout */
   flex: none;
   order: 1;
   flex-grow: 0;

}

nav .menu-Nol a{

   color: #FFFFFF;
   width: 105px;
   height: 24px;
   
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   /* identical to box height, or 133% */
   letter-spacing: 0.01em;
   text-decoration: none;
   /* Inside auto layout */
   
   flex: none;
   order: 1;
   flex-grow: 0;

}

nav .menu-Nol a:hover { 

   text-decoration: underline;
}

.contenedor2{

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 12px;
   
   width: 209px;
   height: 152px;
   
   /* Inside auto layout */
   flex: none;
   order: 1;
   flex-grow: 0;
 }

.contenedor2 .texto-logo h5{
   padding-left: 0px;
   padding-top: 0px;
}

.menu-contatos{
 
   color: #FFFFFF; 
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 20px;
   gap: 12px;
 
   width: 209px;
   height: 52px;

   flex: none;
   order: 1;
   flex-grow: 0;
}

.menu-contatos a{
   color: #FFFFFF; 
   text-decoration: none;
}

.menu-contatos a:hover{ 
   color: #FFFFFF; 
   text-decoration: underline;
}


 /* --- Footer--------------------- */


.contenedor-footer{
   border-top: 2px solid #bfc2f5; 
   position: absolute;
   display: flex;
   width: 100%;
   height: 49px;
   justify-content: space-between;
   margin: auto ;
   left: 0px;
   top: 335%;
}

.texto-footer{
text-align: center;  
}

.texto-footer p{
   display: flex;
   width: 400px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   margin-left: 5%;
   margin-top: 15px;
   color:  white;
}

.redes-sociales{ 
   width: 200px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   position: absolute;
   justify-content:space-between;
   gap: 40px;

   height: 24px;

   /* Inside auto layout */
   flex: none;
   order: 1;
   flex-grow: 0;
   margin-left: 78.5%;
   top: 15px;
}


/*   Boton de retorno------------------*/

.boton-retornar{
   font-style: 1.25cm;
   font-weight:bolder;

   border-radius: 10px;
   border: 1px solid #93a3ad;
 
   color: white;
 /* background-color: rgba(214, 182, 244, 0.946);*/
   background-color:  hsl(203, 40%, 78%);
   float: right;
}
 
.boton-retornar:hover{
   background-color:  #8aafc5;
   box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
 
}


/*   Display para Movil  --------------------------*/



@media screen and (max-width:900px){

   .boton-retornar{
      display: none;
     }

   .redes-soc{ 
      left: 30%;
      gap: 6px;
   }

   .menu{
      left: 57%;
      gap: 15px;
   }

   button{
      left: 87.3%;
      top: 10px;
   }

   .imagen-aviso #img-travel img{ 
      width: 150vh;
      height: 92vh;
   }

   .imagen-aviso .texto{
      font-size: 2.5rem;
   }

   .imagen-aviso .texto h1{
      width: 50%;
      position: absolute;
      left: 2%;
      top: 34%;
    }


   .imagen-int img{
      display: flex;
      position: absolute;
      width: 40%;
      height: 48%;
      left: 2%;
      top: 42%;
   }
   
   .texto-int{
      top: 40%;

      font-size: 16px;
      line-height: 5vh;
   }


   .texto-logotipo{  
      left: 14%;
   }
   
   .texto-logo h6 {
      padding-left: 19%;
      padding-top: 1%;
   }

   .contenedor-logo-contactos{ 
      top: 260%;
     }
   
   .contactos{
      left: 56.5%;
   }
   
   .contenedor-footer{
      top: 305%;
   }
   .redes-sociales{ 
      margin-left: 75%;
      gap: 5px;
   }
   
}


@media screen and (max-width:800px){

   .redes-soc{ 
      padding-left: 0%;
      gap: 1px;
   }
   
   .menu{
      left: 52%;
      gap: 15px;
   }   

   button{
      left: 79%;
      top: 10px;
   }

   p{
      color: #1D5484;
      font-style: normal;
      font-weight: 50%;
      font-size: 30px;
      line-height: 88%;
   }


   #linea-div{
      height: 3px;
   }

   .subtitulo p{
      top: 24px;
   }
   
   .ecologia{
      top: 180%;
   }

   .contenedor-logo-contactos{
      height: 300px;
      left: 0px;
      top: 255%;
     }

   .texto-logo h5 {
      padding-top: 15%;
   }

   .texto-logo h6 {
      padding-left: 22%;
   }

   .contactos{
      left: 50.5%;
   }

   .contenedor-footer{
      top: 295%;
   }
   .redes-sociales{ 
      margin-left: 72%;
      gap: 5px;
   }

}

@media screen and (max-width:700px){


   .redes-soc{ 
      padding-left: -1rem;
      gap: 1px;
   }
   
   .menu{
      left: 46%;
      gap: 15px;
   }   


   button{
      left: 77%;
      top: 11px;
   }


   .imagen-aviso .texto{
      font-size: 1.6rem;
   }

   .imagen-aviso #img-travel img{ 
      width: 116.5vh;
      height: 93vh;
   }

   .texto-eco{
      width: 45%;
      height: 40%;
      left: 50%;
      top: 40%;

      font-size: 16px;
      line-height: 150%;

   }



   .texto-logo{
      left: 15%;
   }

   .texto-logo h5 {
      padding-top: 19.5%;
   }

   .texto-logo h6 {
      padding-left: 25%;
      padding-top: 1.5%;
   }

   .contactos{
      left: 48%;
      gap: 40px;
   }

   .redes-sociales{ 
      margin-left: 69%;
      gap: 1px;
   }

}

@media screen and (max-width:600px){   /*-------600-*/

.barra-inicio .fono{
   display: none;
}   

.barra-inicio .mail{
   display: none;
}

.barra-inicio .redes-soc{
   display: none;
}


#logo-movil img{    

   position: absolute;
   display: flex;
   box-sizing: border-box;
   left: 2%;
   width: 5%;
   top: 1.5%;
}  

#text-movil{
   position: absolute;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #ffffff;
   width: 200px;
   padding-left: 8%;
   top: 0%;
} 

#text-movil h5{
   font-style: normal;
   font-size: 16px;
   letter-spacing: 0,01em;
   text-transform: capitalize;

   text-align: left;
   padding-top: 1%;
} 

#text-movil h6{
   padding-left: 18%;
   padding-top: 9%;
}


.barra-menu .logo{
   display:none ;
}

   .text-logo{
      display:none ;
   }

   .menu{
      left: 2%;
      gap: 15px;
   }   

   #boton-barra{
      padding-left:34%;
   }

   button{
      left:74%;
      top: 10px;
   }

   .imagen-aviso #img-travel img{ 
      width: 116.5vh;
      height: 84vh;
   }

   .imagen-aviso .texto h1{
      top: 24%;
    }
   
    .imagen-aviso  #img-travel .img-vector img{
      top: 38%;
    }
   
    .imagen-aviso  #img-travel .img-vector .vector-travel  img{
 
      top: 38%;
   }
    .internacional{
      left: 0px;
      top: 90%;
   }
   

   .ecologia{
      left: 0px;
      top: 190%;
   }

   .contenedor-logo-contactos{
      width: 100%;
      height: 310px;
      left: 0px;
      top: 325%;
     }

/*----------------nueva-barra movil--------*/
     .logotipo{  
      display: flex;
       position: absolute;
       text-align: center;
       width: 300px;
       height: 270px;
       left: 2%;
       top: 4%;
    }

    .logo2{
      display: flex;
      left: 0%;
      right: 90.97%;
      top: 5%;
      bottom: 81.5%;
   }
   
   .texto-logotipo{  

         position: absolute;
         display: flex;
         color: #ffffff;
         width: 250px;
         left: 15%;
         top: 3%;
   }

   h5 {

      padding-left: 0%;
      padding-top: 6%;
   }

   .texto-logotipo h6 {
      padding-left: 6px;
      padding-top: 10%;
   }

/*-------------------------*/
   .contactos{
      left: 2%;
      top: 30% ;
      gap: 60px;
   }

   .contenedor-footer{

   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: space-between;


   color: #ffffff;
      left: 0px;
      top: 383%;
   }

   
   .texto-footer p{
      display: flex;
      margin-left: 2%;
   }
   
   .redes-sociales{ 
      max-width: 10px;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      margin-left: 75%;
   }
}

@media screen and (max-width:500px){


   #boton-barra{
      padding-left:20%;
   }

   .imagen-int img{
      top: 38%;
   }
   
   .texto-int{
      top: 38%;

      font-size: 16px;
      line-height: 5vh;
   }

   .ecologia{
      top: 208%;
   }

}
